# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# PyCharm specific files
.idea/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Log files
*.log

# Environment variable files
.env

# Project-specific temporary files
*.tmp